#product-list {
    max-height: 450px;
    overflow-y: scroll;
}

.jumbotron {
  background-image: url("https://res.cloudinary.com/di20cx7mf/image/upload/v1587866230/jumbotron_zexq0s.jpg");
  background-size: cover;
}