#product-list {
    max-height: 450px;
    overflow-y: scroll;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.jumbotron {
  background-image: url("https://res.cloudinary.com/di20cx7mf/image/upload/v1587859965/jumbotron_1_yuqtr3.jpg");
  background-size: cover;
}