<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="https://res.cloudinary.com/di20cx7mf/image/upload/v1587844935/b7602058b9897edb33f7545db2c81b87_cardboard-box-tra_1_x6ams8.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Availability Checker</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="display-4">AmazonRescue</h1>
                    <p class="lead">Finding products you can buy today.</p>
                </div>
                <div class="col-sm">
                    <img src="https://res.cloudinary.com/di20cx7mf/image/upload/v1587844310/b7602058b9897edb33f7545db2c81b87_cardboard-box-tra_xtfqij.png" class="img-fluid" width="30%">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="mt-2" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Search for Available Amazon Products</legend>
                        <div class="form-group">
                            {{ form.search.label(class='form-control-label') }}
                            {% if form.search.errors %}
                                {{ form.search(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.search.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.search(class='form-control form-control-lg') }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% if products %}
                    <div id="product-list" class="card">
                        <div class="card-body">
                            <h3 class="card-title">Available Products</h3>
                            <ul class="list-group">
                                {% for product in products.values() %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                {{ product['title'] }}
                                            </div>
                                            <div class="col">
                                                <a href="{{ product['link'] }}" target="_blank" class="btn btn-sm btn-primary" style="float: right">Open</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">No products currently available</h3>
                            <div style="text-align: center">
                                <img src="https://media.istockphoto.com/vectors/funny-stickman-with-confused-facial-expression-working-on-laptop-vector-id961567192?k=6&m=961567192&s=612x612&w=0&h=HnS5qYrinxFSd5jdYN5tAT7mLb-H85Vok17T4dFAmKY=" width="40%" height="40%">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>